<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dscvit.gidget">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gidget"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activities.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DeleteUserFromGidgetActivity" />

        <receiver android:name=".widget.GidgetWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="onWidgetItemClicked" />
                <action android:name="updateWidgetWithDatasource" />
                <action android:name="onRefreshButtonClicked" />
                <action android:name="deleteWidgetWithDatasource" />
                <action android:name="clearWidgetItems" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gidget_widget_info" />
        </receiver>

        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.FeedActivity" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="gidget" />
            </intent-filter>
        </activity>

        <service
            android:name=".adapters.WidgetRepoRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>